@model ShopM4.Models.Product

@{
    var title = "Delete Product";
}

<h1>@title</h1>

<form method="post" enctype="multipart/form-data">

    <!-- Передача скрытых данных -->
    <input asp-for="Id" hidden />

    <p>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" disable/>
    </p>

    <p>
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" disabled/>
    </p>

    <p>
        <label asp-for="Description"></label>
        <!--<input asp-for="Product.Description" class="form-control" />-->
        <textarea asp-for="Description" class="form-control summernote"></textarea>
    </p>

    <p>
        <label asp-for="CategoryId"></label>
        <input asp-for="Category.Name" class="form-control" disabled />
    </p>

    <p>
        <input type="submit" class="btn btn-danger" value="Delete" />
        <a class="btn btn-primary" asp-controller="Category" asp-action="Index"> Back </a>
    </p>

    <p>
        <div asp-validation-summary="All"></div>
    </p>
</form>

@if (Model.Product.Id != 0)
{
    <p>
        <img src="@PathManager.ImageProductPath@Model.Product.Image" width="100" />
    </p>
}

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        /* editor */
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 200
            });
        });

        /* alert */
        function Input() {
            if (document.getElementById("input").value == "") {
                Swal.fire(
                    'Error!',
                    'Пожалуйста, загрузите картинку!',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
}
